@media only screen and (min-width:200px) and (max-width:974px) {

    .social {
        display: block;
        position: static;
    }

    #watsapp {
        display: none;
    }

    #up {
        display: none;
    }

    #phone {
        display: none;
    }

    #mail {
        display: none;
    }

    #navbar {
        width: 100%;
        padding: 0px;
        position: relative;
    }

    .logo {
        width: 80%;
    }

    .logo:hover {
        transform: none;
    }

    .logo>img {
        width: 16%;
    }

    .logo>span {
        margin-bottom: 0%;
        font-size: 22px;
    }

    .menu_andriod {
        display: contents;
    }

    .menu_andriod>i {
        color: rgb(55, 55, 55);
        margin: 15px;
        font-size: 20px;
        margin-top: 25px;
    }

    .menu {
        display: none;
    }

    .menu_andriod_inner {
        display: block !important;
        background-color: #fff;
        position: fixed;
        display: flex;
        transition: 1s;
        width: 80%;
        height: 100vh;
        top: 0%;
        left: -90%;
        padding-left: 10px;
    }

    .menu_andriod_inner_uper {
        padding-top: 10px;
    }

    .menu_andriod_inner_uper>span {
        position: absolute;
        right: 5%;
        margin-top: 3px;
        background-color: #ebf8fc;
        padding: 1px 15px 7px 15px;
        font-size: 30px;
    }

    .menu_andriod_inner_uper>img {
        width: 100px;
        border-radius: 50%;
    }

    .menu_andriod_inner_uper>h5 {
        font-size: 20px;
        margin-left: 6px;
        margin-bottom: 5px;
        font-weight: 600;
        color: #315399;
    }

    .menu_andriod_inner_uper>h6 {
        font-size: 18px;
        color: rgba(110, 111, 110, 0.943);
        margin-left: 6px;
    }

    .menu_andriod_inner_uper>ul>li {
        color: rgba(110, 111, 110, 0.943);
        margin-left: 6px;
        margin-top: 20px;
        list-style: inside;
    }

    .andriod_contact>a>i {
        font-size: 20px;
        margin: 20px 10px 10px 10px;
    }

    #header {
        padding-top: 30px;
        display: block;
    }

    .header_left {
        width: 100%;
        text-align: center;
        padding-left: 0%;
    }

    .header_left h2 {
        font-size: 27px;
        width: 100%;
        line-height: 40px;
    }

    #Explore_More {
        padding: 6px 4px;
        font-size: 15px;
        margin: 7px auto;
    }

    .design_text {
        margin: 17px !important;
    }

    .header_right {
        width: 100%;
        height: 370px;
    }

    #option_section {
        width: calc(100%-10%);
        padding: 5%;
    }

    .option_left {
        width: 100%;
    }

    .option_right {
        width: 100%;
    }

    .option_right>i {
        padding: 12px;
        margin: 0px 45%;
    }

    .option_right>h3 {
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
    }


    #daily_updates,
    #kitchen_section {
        width: calc(100%-10%);
        padding: 0% 5%;
    }

    .daily_updates_left_img {
        display: none;
    }

    .daily_updates_left {
        width: 100%;
    }

    .daily_updates_left>h3 {
        display: none;
    }

    .daily_updates_left>i {
        padding: 12px;
        margin: 0px 45%;
    }


    .daily_updates_left>h4 {
        display: block;
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
    }

    #Explore_More_ {
        margin-left: 0%;
        padding: 6px 4px;
        font-size: 15px;
        margin: 7px auto;
    }

    #Explore_More:hover,
    #Explore_More_:hover {
        border-color: #fff;
        color: #fff;
        background-color: #315399;
    }

    .daily_updates_right {
        width: 100%;
    }

    .kitchen_section_left {
        width: 100%;
    }


    .kitchen_section_left>h3 {
        display: none;
    }

    .kitchen_section_left>i {
        padding: 12px;
        margin: 0px 45%;
    }


    .kitchen_section_left>h4 {
        display: block;
        margin: 10px;
        font-size: 23px;
        text-align: center;
    }

    .kitchen_section_right {
        width: 100%;
        margin-left: -0%;
    }

    .scroll-container img {
        width: 99%;
        margin-left: 0px;
    }

    .kitchen_section_right>p {
        font-size: 16px;
        margin-top: 5px;
        text-align: center;
        margin-bottom: 10px;
    }


    #toggles_12 {
        overflow: auto;
        white-space: nowrap;
        position: relative;
    }

    .toggle .tabs {
        gap: 10px;
        font-size: 14px !important;
        justify-content: flex-start;
    }

    .toggle .panels .panel>img {
        width: 100%;
    }

    .modal-content {
        width: 90%;
        margin-top: 35%;
        height: 300px;
    }

    #image-viewer .close {
        right: 5%;
    }

    #image-viewer .close>i {
        animation: click 1s linear infinite;
    }

    @keyframes click {
        0% {
            color: #000;
            transform: translateY(10px);
        }

        50% {
            color: #fff;
        }
    }

    .footer_left {
        width: 100%;
    }

    .footer_right {
        display: none;
        width: 0%;
    }


    #design_by>span {
        font-size: 12px;
    }

    #design_by>span>a {
        font-size: 12px;
        color: #315399 !important;
    }

    /* background fixed lines in dekstop */

    .option_right_img {
        display: none;
        position: static;
    }

    /* background fixed lines in dekstop */

}

@media only screen and (min-width:363px) and (max-width:464px) {

    * {
        box-sizing: border-box;
    }

    #Explore_Categories {
        width: 100%;
    }

    .toggle .tabs {
        top: 45px !important;
        gap: 7px;
        height: 70px;
        padding-bottom: 10px;
        font-size: 12px !important;
        justify-content: flex-start;
    }

    .logo>img {
        width: 18%;
    }

    .logo>span {
        margin-bottom: 0%;
        font-size: 17px;
    }

    #copyright {
        display: none;
    }

    #design_by {
        display: block;
        text-align: right;
    }

}

@media only screen and (min-width:312px) and (max-width:388px) {

    * {
        box-sizing: border-box;
    }

    #Explore_Categories {
        width: 100%;
    }

    .logo>img {
        width: 18%;
        height: 54px;
    }

    .toggle .tabs {
        top: 45px !important;
        gap: 7px;
        height: 70px;
        padding-bottom: 10px;
        font-size: 12px !important;
        justify-content: flex-start;
    }


    #copyright {
        display: none;
    }


    #design_by {
        display: block;
        text-align: right;
    }

    .logo>span {
        margin-bottom: 0%;
        font-size: 15px;
    }

    #Explore_More_,
    #Explore_More {
        font-size: 12px !important;
    }

}

@media only screen and (min-width:200px) and (max-width:311px) {

    * {
        box-sizing: border-box;
    }

    nav {
        width: 100%;
    }

    #Explore_Categories {
        width: 100%;
    }

    .logo>img {
        width: 18%;
        height: 54px;
    }

    .logo>span {
        margin-bottom: 0%;
        font-size: 13px;
    }


    #copyright {
        display: none;
    }


    #design_by {
        display: block;
        text-align: right;
    }

    .toggle .tabs {
        top: 10px !important;
        gap: 5px;
        height: 110px;
        padding-bottom: 0px;
        font-size: 11px !important;
        justify-content: flex-start;
    }

    .toggle .tabs .tab {
        margin-top: 30px !important;
    }


    #Explore_More_,
    #Explore_More {
        font-size: 10px !important;
    }

}


@media only screen and (min-width:518px) and (max-width:768px) {


    .logo>img {
        width: 70px;
    }

    .logo>span {
        margin-top: 5%;
        margin-bottom: 0%;
        font-size: 22px;
    }


    #full-image {
        margin-top: 120px;
        height: 400px;
    }


}

@media only screen and (min-width:768px) and (max-width:870px) {

    .logo>img {
        width: 70px;
    }

    .logo>span {
        margin-top: 5%;
        margin-bottom: 0%;
        font-size: 22px;
    }

    .header_right {
        height: 400px;
    }


    #full-image {
        margin-top: 120px;
        height: 450px;
    }
}


@media only screen and (min-width:870px) and (max-width:974px) {

    .logo>img {
        width: 75px;
    }

    .logo>span {
        margin-top: 5%;
        margin-bottom: 0%;
        font-size: 22px;
    }

    #full-image {
        margin-top: 100px;
        height: 450px;
    }

}


@media only screen and (min-width:975px) and (max-width:1199px) {


    .social {
        display: none;
    }

    .logo>img {
        width: 90px;
    }

    .logo>span {
        margin-top: 10%;
        width: 300px;
        margin-bottom: 0%;
        font-size: 22px;
    }

    .header_left {
        width: 40%;
    }

    .header_left>h2 {
        width: 100%;
        font-size: 45px;
    }

    .header_right {
        width: 55%;
        margin-left: 2%;
    }

    .tabs {
        overflow: auto;
        white-space: nowrap;
    }

    .tab {
        margin: 0px 10px;
    }

    .panel>img {
        height: 380px !important;
        width: 48% !important;
    }

    #toggles_12 {
        padding-top: 60px !important;
    }

    .modal-content>img {
        height: 400px !important;
    }

    .close {
        right: 8% !important;
    }

}

@media only screen and (min-width:1270px) and (max-width:1800px) {

    #img_2 {
        width: 120% !important;
    }

    #img_1,
    #img_1st {
        width: 130%;
    }

}



@media only screen and (min-width:1450px) and (max-width:1700px) {

    .toggle .tabs {
        font-size: 18px;
    }

    .toggle .panels .panel>img {
        height: 430px;
    }

    .menu {
        font-size: 22px;
    }


}


@media only screen and (min-width:1701px) and (max-width:2000px) {

    .toggle .tabs {
        font-size: 21px;
        padding-top: 45px !important;
    }

    .menu {
        font-size: 25px;
    }

    .toggle .panels .panel>img {
        height: 430px;
    }

}